*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}
input,textarea,select,button{
    font-size: inherit;
    font-family: inherit;
}
/* common */
:root{
    --primary-fontfamily: "Sora", sans-serif;
    --primary-color:#FF5B2E;
}
.container{
    width: 1170px;
    max-width: calc(1170px - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    --height:56px;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000958;
}
.btn:hover{
    opacity: 0.9;
}
.primary-btn{
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #FFF !important;
}
.btn__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.section-heading{
    color: #000958;
    font-family: var(--primary-fontfamily);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}
.section-desc{
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin-top: 24px;
}
/* header */
.header{
    padding: 26px 0;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list{
    display: flex;
}
.header-action__link,
.navbar__link{
    padding: 10px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}
.navbar__link:hover,
.navbar__link-active{
    text-shadow: 1px 0 0 currentColor;
    color: #000958;
}
.header-action__link{
    padding: 0;
    margin-right: 18px;
}
.header-action__btn{
    --height:50px;
    min-width: 118px;
}
/* hero */
.hero{
    margin-top: 74px;
}
.hero__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}
.hero__media{
    position: relative;
    display: flex;
    padding-bottom: 94px;
}
.hero__img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #FFF;
}
.hero__img{
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor{
    position: absolute;
    z-index: -1;
}
.hero__decor-left{
    left: -58px;
    bottom: 10px;
}
.hero__decor-right{
    right: -40px;
    top: 16px;
}
.hero__img-wrap-small{
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background-color: rgba(250, 167, 173, 1);
    margin:0 0 -58px -24px;
    border: 2px solid #fcdddf;
}
.hero__list{
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-list-tiem{
    display: flex;
    column-gap: 10px;
}
.hero-list-tiem__thumb{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #FEC23F;
}
.hero-list-tiem__title{
    color: #181E52;
    font-family: var(--primary-fontfamily);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}
.hero-list-tiem__skeleton{
    margin-top: 6px;
    width: 118px;
    height: 4px;
    opacity: 0.08;
    background: #000958;
    border-radius: 99px;
}
.hero-list-tiem__skeleton-small{
    width: 39px;
}
.hero-list-item__separate{
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background: #F2F2F2;
    border-radius: 99px;
}
.hero-list-tiem:nth-of-type(2) .hero-list-tiem__thumb{
    background: #C6E2FA;
}
.hero__heading{
    color: #000958;
    font-family: var(--primary-fontfamily);
    font-size: 6.4rem;
    font-weight: 800;
    line-height: 1.15152;
}
.hero__desc{
    margin-top: 24px;
    max-width: 391px;
    color: #656689;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}
.hero__row{
    margin-top: 38px;
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.hero__cta-btn{
    --height: 60px;
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}
.hero__cta-link{
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}
/* about */
.about{
    padding-top: 69px;
    margin: 69px 0 185px;
}
.about__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
}
.about__label{
    color: #5E6085;
    font-family: var(--primary-fontfamily);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}
.about__heading{
    margin-top: 15px;
}
.about__desc,.about__heading{
    max-width: 444px;
}
.about__checklist{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}
.about__check-item{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.about__check-item::before{
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: rgba(255, 93, 49, 1);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after{
    content: url(../icon/check.svg);
    position: absolute;
    top: 3px;
    left: 5px;
}
/* about__media */
.about__media{
    position: relative;
}
.about__card{
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}
.about__card-title{
    color: #FFF;
    font-family: var(--primary-fontfamily);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}
.about__card-desc{
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}
.about__card-decor{
    position: absolute;
    object-fit: cover;
    top: -39px;
    right: -33px;
}
/* about__img-wrap */
.about__img-wrap{
    width: 494px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.about__img-wrap::before{
    position: absolute;
    z-index: -1;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}
.about__img{
    width: 450px;
    align-self: flex-end;
}
.about__media-decor{
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}
.about__img-wrap-bottom{
    width: 458px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    justify-content: flex-start;
    margin-left: 0;
}
.about__img-wrap-bottom::before{
    content: none;
}
.about__img-bottom{
    width: 100%;
}
.about__decor-img{
    position: absolute;
}
.about__decor-img:nth-child(1){
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2){
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3){
    top: 33px;
    right: -21px;
}
.about__decor-img:nth-child(4){
    top: 268px;
    right: -34px;
}
.about__decor-img:nth-child(5){
    bottom: 150px;
    right: 19px;
}
.about__decor-img:nth-child(6){
    bottom: -54px;
    right: -42px;
}
.about__desc-bottom{
    width: 511px;
    margin-bottom: 50px;
}
.tab__list{
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}
.tab__content-more::after,
.tab__item-active::after,
.tab__list::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    background: #FF5B2E;
    border-radius: 99px;
}
.tab__item-active::after{
    opacity: 1;
    width: 95px;
}
.tab__item{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}
.tab__icon{
    width: 18px;
}
.tab__title{
    color: #48496A;
    font-family: var(--primary-fontfamily);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.tab__contents{
    padding-top: 36px;
}
.tab__content-item{
    display: none;
}
.tab__content-item-active{
    display: block;
}
.tab__content-desc{
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.tab__content-more{
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}
.tab__content-more::after{
    opacity: 1;
    height: 1.5px;
}
/* service */
.service{
    background: #FFF6ED;
    padding: 68px 0 100px;
}
.service__top{
    text-align: center;
}
.staff__desc,
.service__desc{
    color: #5E6085;
    font-family: var(--primary-fontfamily);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; 
    margin-bottom: 15px;
}
.service__body{
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 40px;
}
.service-item + .service-item{
    margin-top: 24px;
}
.service-item{
    padding: 30px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}
.service-item__heading{
    display: inline-block;
    position: relative;
    color: #000958;
    font-family: var(--primary-fontfamily);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding-left: 12px;
}
.service-item__heading::before{
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(#FF5B2E, #FFA187 );
    border-radius: 99px;
}
.service-item__desc{
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    margin-top: 18px;
}
.service-item__more{
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396A;
    font-family: var(--primary-fontfamily);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; 
}
.service-item__more::after{
    content: url(../icon/ArrowUpRight.svg);
    margin: 2px 0 0 5px;
}
.service__media{
    position: relative;
    margin-top: 18px;
    display: flex;
    align-items: center;
}
.service__media::after{
    position: absolute;
    content: "";
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}
.service__img{
    align-self: flex-end;
    position: relative;
    z-index: 1;
    width: 100%;
}
.service__cta-wrap{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.service__cta{
    width: 214px;
    color: #FF5B2E;
    border-color: currentColor;
}
/* staff */
.staff{
    padding: 130px 0;
}
.staff__header{
    text-align: center;
}
.staff__list{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 35px;
}
.staff-item:nth-child(2) .staff-item__img-wrap::before{
    background: #FF997E;
}
.staff-item:nth-child(3) .staff-item__img-wrap::before{
    background: #FABF3E;
}
.staff-item:nth-child(4) .staff-item__img-wrap::before{
    background: #5BD6E2;
}
.staff-item__img-wrap{
    position: relative;
    margin: 0 16px;
    height: 299px;
    border-radius: 130px;
    /* overflow: hidden; */
}
.staff-item__img-wrap::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92%;
    border-radius: inherit;
    background: #90CCFF;
}
.staff-item__img-wrap::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../icon/decor-11.svg);
    width: calc(100% + 60px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.staff-item:nth-child(2) .staff-item__img-wrap::after{
    background-image: url(../icon/decor-12.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after{
    background-image: url(../icon/decor-13.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after{
    background-image: url(../icon/decor-14.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after{
    background-position: 0 16px;
}
.staff-item__img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 130px;
}
.staff-item__title,
.staff-item__name{
    text-align: center;
}
.staff-item__title{
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}
.staff-item__name{
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: var(--primary-fontfamily);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}
.staff__cta-wrap{
    text-align: center;
    margin-top: 48px;
}
.staff__cta{
    width: 193px;
    color: #FF5B2E;
    border-color: currentColor;
}
/* pricing */
.pricing{
    padding: 86px 0;
    background-color: #FFF6ED;
}
.pricing__container{
    width: 994px;
}
.pricing__top{
    text-align: center;
}
.pricing__desc{
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing__switch-inner{
    position: relative;
}
.pricing__switch-wrap{
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.pricing__switch-label{
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    user-select: none; 
    cursor: pointer;
}
.pricing__switch-label::before{
    content: "";
    position: absolute;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #FF5B2E;
    left: 0;
}
.pricing__switch-input:checked + .pricing__switch-label::before{
    left: auto;
    right: 0;
    width: 131px;
}
.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-child(2){
    color: #FF5B2E;
}
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-child(1){
    color: #FF5B2E;
}
.pricing__switch-value{
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 1.6;
    font-weight: 500;
    line-height: 1; 
}
.pricing__switch-img{
    position: absolute;
    right: -112px;
    top: -10px;
}
.pricing__list{
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 44px;
}
.pricing-item{
    width: 302px;
    padding: 30px 28px 43px;
    border-radius: 20px;
    background: #FFF;
}
.pricing-item--active{
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}
.pricing-item__type{
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
.pricing-item__heading{
    margin-top: 8px;
    color: #3F4065;
    font-family: var(--primary-fontfamily);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}
.pricing-item__price{
    color: #000958;
    font-family: var(--primary-fontfamily);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
    margin-top: 24px;
}
.pricing-item__btn{
    margin-top: 22px;
    outline: none;
    background-color: transparent;
    --height:44px;
    width: 100%;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.60);
    color: #FF5B2E;
    font-size: 1.6;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
}
.pricing-item__list{
    margin-top: 24px;
}
.pricing-item__item{
    display: flex;
    /* align-items: center; */
    color: #656689;
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}
.pricing-item__item::before{
    content: url(../icon/Check-02.svg);
    margin-right: 14px;
}
/* review */
.review{
    padding: 105px 0 52px;
}
.review__inner{
    display: flex;
    align-items: center;
    column-gap: 44px;
}
.review__control{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    border: 1.5px solid #ffd1c4;
    color: #FF5B2E;
}
.review__control:nth-of-type(2){
    margin-left: auto;
}
.review__control:hover{
    background-color: #FF5B2E;
    color: #FFF;
    border-color: #FF5B2E;
    cursor: pointer;
}
.review__list{
    display: flex;
}
.review-item{
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 115px;
}
.review-item__media{
    position: relative;
    margin-top: -52px;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}
.review-item__media::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    height: 82%;
    background-color: #FFDA54;
    border-radius: 137px;
}
.review__content{
    overflow: hidden;
}
.review__img{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}
.review-item__content{
    margin-top: 28px;
}
.review-item__quote{
    width: 550px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
}
.review-item__author{
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-family: var(--primary-fontfamily);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; 
}
.review-item__author::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
    margin-right: 8px;
}
.review__dots{
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-top: 56px;
}
.review__dot{
    width: 8px;
    height: 8px;
    border: 1px solid #FF5B2E;
    border-radius: 50%;
}
.review__dot:hover{
    background-color: #FF5B2E;
    cursor: pointer;
}
.review__dot--active{
    width: 24px;
    border-radius: 4px;
    background: #FF5B2E;
}
.blog{
    padding: 78px 0 130px;
}
.blog__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__info{
    margin-right: 74px;
    width: 350px;
}
.blog__desc {
    margin-top: 0;
}
.blog__cta{
    margin-top: 24px;
    min-width: 182px;
    border: 1px solid #ff9b7e;
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
}
.blog__list{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 48px;
}
.blog-item__img-wrap{
    background-color: #90CCFF;
    border-radius: 24px;
    padding: 24px 0 0 36px ;
}
.blog-item__time{
    color: #FFF;
    font-family: var(--primary-fontfamily);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21;
}
.blog-item__img{
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 296px;
    object-fit: cover;
}
.blog-item:nth-child(2) .blog-item__img-wrap{
    background-color: #FF997E;
}
.blog-item:nth-child(3) .blog-item__img-wrap{
    background-color: #5BD6E2;
}

.blog-item__info{
    padding: 28px 0 0 0;
}
.blog-item__title{
    color: #000958;
    font-family: var(--primary-fontfamily);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54; 
}
.blog-item__desc{
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.footer{
    margin-bottom: 1000px;
    background: linear-gradient(to right,#FFF6ED 41%,#FFFAF5 41%);
}
.footer__inner{
    display: flex;
    align-items: center;
}
.subscribe-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    margin: 34px 0 68px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #FFF;
}
.subscribe-form__input{
    padding: 16px 22px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    font-size: 1.4rem;
}
.subscribe-form__input::placeholder{
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}

.subscribe-form__submit{
    margin-right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ff5b2e;
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    border: none;
    outline: none;
}
.subscribe-form__submit:hover{
    opacity: 0.9;
    cursor: pointer;
}
.footer__heading{
    color: #000958;
    font-family: var(--primary-fontfamily);
    font-size: 1.8rem;
    font-weight: 600;
}
.social-list{
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
}
.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFF;
}
.social-item:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__left{
    width: 42%;
}
.footer__right{
    flex-grow: 1;
    padding: 52px 0 52px 129px;
}
.footer__row{
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}
.footer__list{
    margin-top: 14px;
}
.footer__link{
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2; 
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__copyright{
    text-align: center;
    padding-bottom: 48px;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
}